blinker==1.6.3
cffi==1.16.0
charset-normalizer==3.3.1
Click==7.0
cryptography==41.0.5
deprecation==2.1.0
et-xmlfile==1.0.1
Flask==1.1.0
gunicorn==21.2.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.3
lxml==4.9.3
MarkupSafe==1.1.1
numpy==1.23.5
openpyxl==3.0.0
packaging==23.2
pandas==1.2.4
pdfminer.six==20221105
pdfplumber==0.10.2
pikepdf==8.5.2
Pillow==10.1.0
pycparser==2.21
PyPDF2==1.26.0
pypdfium2==4.22.0
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
Werkzeug==0.16.0
xlrd==1.2.0
XlsxWriter==1.2.6
